---
import RoomsStyles from '../styles/rooms.css'
---

<h1 class={RoomsStyles}>Choisis ton environnement !</h1>

<article class={RoomsStyles}>
    <section>
        <h2>Chill</h2>
        <p>Un espace détente pour écouter de la musique, lire ou simplement se relaxer.</p>
        <a href="/">
            Rejoindre la salle
        </a>
    </section>
    <section>
        <h2>Gaming</h2>
        <p>Rejoins une partie endiablée avec tes amis et affrontez-vous dans vos jeux préférés.</p>
        <a href="/">
            Rejoindre la salle
        </a>
    </section>
    <section>
        <h2>Débat</h2>
        <p>Exprime tes idées, écoute les arguments des autres et participe à des discussions passionnantes.</p>
        <a href="/">
            Rejoindre la salle
        </a>
    </section>
    <section>
        <h2>Devoir</h2>
        <p>Un endroit calme pour travailler efficacement et avancer sur tes projets scolaires.</p>
        <a href="/">
            Rejoindre la salle
        </a>
    </section>
</article>

