---
export function getStaticPaths() {
    return [
        {params: { room: "chill"}},
        {params: { room: "gaming"}},
        {params: { room: "debat"}},
        {params: { room: "devoir"}},
    ];
}

const { room } = Astro.params;
---

<h1>{room}</h1>